{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        "GOOGLE_APPLICATION_CREDENTIALS": "../../credentials.json"
    },
    "Host": {
        "CORS": "*"
    }
}
